{% extends "base.html" %}

{% block content %}
  <h1>Catering service</h1>
  <div class="slogan">
    <h2 style="text-align: left">Meet your cook,</h2>
    <h3 style="text-align: center">who will</h3>
    <h2 style="text-align: right">cook your meat!</h2>
  </div>
  <p>For your event you can pick</p>
  <ul class="index-list">
    <li>from {{ num_cooks }} <strong>cooks</strong> </li>
    <li>choose from {{ num_dishes }} <strong>dishes</strong> </li>
    <li>in {{ num_categories }} <strong>categories</strong> </li>
  </ul>

  <p class="visit-counter">You have visited this page
      {{ num_visits }} time{{ num_visits|pluralize }}.
  </p>

{% endblock %}
